@charset "UTF-8";
/*----extenciones---*/
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:wght@300;400&display=swap");
.top-header {
  height: 6rem;
}
.top-header .navbar {
  height: 6rem;
}
.top-header .navbar .container-fluid .navbar-brand img {
  transition: all 0.5s;
}
.top-header .navbar .container-fluid .navbar-brand img:hover {
  transform: scale(1.2);
}
.top-header .navbar .container-fluid .titulo h1 {
  font-size: 4rem;
  color: white;
  font-family: "Road Rage", cursive;
  transition: all 0.5s ease;
}
.top-header .navbar .container-fluid .titulo h1:hover {
  color: #ff8f07;
}

/*----Variables----*/
/*-------Colores----------*/
footer {
  height: auto;
  width: 100%;
  background-image: url("../src/multimedia/Images/otros/tela.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin: 0rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
footer .navFooter {
  background-color: rgba(128, 128, 128, 0.459);
  padding: 10px;
  height: 200px;
  width: auto;
}
footer .navFooter .ulFooter {
  list-style: none;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}
footer .navFooter .ulFooter li a {
  color: black;
  font-size: 20px;
}
footer .navFooter .ulFooter li a:hover {
  color: burlywood;
}
footer .sectionNews {
  background-color: rgba(128, 128, 128, 0.459);
  padding: 10px;
  height: 200px;
  width: auto;
}
footer .sectionNews #newsletter {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
footer .sectionNews .h4Footer {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
}
footer .mediosPago {
  background-color: rgba(128, 128, 128, 0.459);
  padding: 10px;
  height: 200px;
  width: auto;
}
footer .mediosPago .h5Footer {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: black;
}

/*----Variables----*/
/*-------Colores----------*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  /*---------seccion prueba Grid index nuevo--------*/
  /*------Estilos pagina Contacto (unicamente)-----*/
  /*--------Estilos Generales------*/
  /*----------diseño pagina cambios, envios y quienes somos-------*/
  /*---imagen de ejemplo pagina Carrito----*/
  /*-----le di este color para resaltar los botones del carousel----*/
  /**---------------GRID GENERAL TODAS LAS PRENDAS-------------*/
}
body .mainIndex {
  background-color: whitesmoke;
  text-align: center;
  align-items: center;
  justify-content: center;
}
body .mainIndex .gridIndex1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin: 1rem;
}
body .mainIndex .gridIndex1 .mainPrueba {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
body .mainIndex .gridIndex1 .mainPrueba .post {
  height: auto;
  width: 100%;
  position: relative;
}
body .mainIndex .gridIndex1 .mainPrueba .post img {
  width: 100%;
  height: 100%;
}
body .mainIndex .gridIndex1 .mainPrueba .post .flash {
  width: 100%;
  height: 0%;
  background-color: rgba(42, 113, 255, 0.308);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0px solid white;
  transition: all 0.3s ease;
  color: black;
  font-family: "Road Rage", cursive;
  font-size: 5rem;
}
body .mainIndex .gridIndex1 .mainPrueba .post:hover .flash {
  height: 100%;
  width: 100%;
}
body .mainIndex .gridIndex2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 1rem;
}
body .mainIndex .gridIndex2 .mainPrueba2 {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
body .mainIndex .gridIndex2 .mainPrueba2 .post {
  height: auto;
  width: 100%;
  position: relative;
}
body .mainIndex .gridIndex2 .mainPrueba2 .post img {
  width: 100%;
  height: 100%;
}
body .mainIndex .gridIndex2 .mainPrueba2 .post .flash {
  width: 0%;
  height: 100%;
  background-color: rgba(54, 250, 113, 0.308);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0px solid white;
  transition: all 0.2s ease-out;
  color: black;
  font-family: "Road Rage", cursive;
  font-size: 5rem;
}
body .mainIndex .gridIndex2 .mainPrueba2 .post:hover .flash {
  height: 100%;
  width: 100%;
}
body .mainIndex .sectionContacto {
  height: auto;
  width: 100%;
  background-image: url("../src/multimedia/Images/otros/fondo-contacto.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 3rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
body .mainIndex .sectionContacto .secMail {
  border-radius: 15%;
  height: 200px;
  width: auto;
  background-color: rgba(124, 160, 238, 0.664);
}
body .mainIndex .sectionContacto .secMail svg {
  color: brown;
}
body .mainIndex .sectionContacto .secMail .prMail {
  background-color: rgba(124, 160, 238, 0);
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
body .mainIndex .sectionContacto .secWhat {
  border-radius: 15%;
  height: 200px;
  width: auto;
  background-color: rgba(124, 160, 238, 0.664);
}
body .mainIndex .sectionContacto .secWhat svg {
  color: #0a860a;
}
body .mainIndex .sectionContacto .secWhat .prCelular {
  background-color: rgba(124, 160, 238, 0);
  font-size: 1.3rem;
}
body .mainIndex .sectionContacto .secIcon {
  border-radius: 15%;
  height: 200px;
  width: auto;
  background-color: rgba(124, 160, 238, 0.664);
}
body .mainIndex .sectionContacto .secIcon .prRedes {
  background-color: rgba(124, 160, 238, 0);
  font-size: 1.3rem;
}
body .mainIndex .sectionContacto .secIcon div a {
  padding: 1rem;
}
body .mainIndex .sectionContacto .secIcon div a .contactoFacebook {
  color: blue;
}
body .mainIndex .sectionContacto .secIcon div a .contactoInstagram {
  color: blueviolet;
}
body h2 {
  font-family: "Roboto", sans-serif;
  color: black;
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid goldenrod;
  display: inline-block;
}
body h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2rem;
}
body .carousel-caption h5 {
  width: 60%;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #fa4700;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
  background-color: rgba(0, 0, 255, 0.6);
  box-shadow: black 2px 2px 2px;
}
body p {
  background-color: #fae881;
  font-size: 1rem;
  margin: 1rem;
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: justify;
}
body .pCarusel {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 60%;
  display: inline-block;
  background-color: rgba(172, 255, 47, 0.6);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 3px 3px;
}
body a {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body .h2Rojo {
  background-color: #fae881;
  display: inline-block;
  margin-top: 1rem;
  /*-- elemento lista--*/
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  /*-- elemento lista--*/
  color: black;
  border: 0.5rem inset #7e7d7d;
}
body .secMapa {
  background-color: #c7c7c7;
  margin: 0rem;
  padding: 1rem;
  justify-content: center;
}
body .mapa {
  width: 80%;
  height: 15rem;
}
body .parrafoDonde {
  background-color: white;
  display: inline-block;
  width: 80%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid goldenrod;
}
body .pCambios {
  background-color: rgba(172, 190, 252, 0.377);
  width: 90%;
  box-shadow: black 2px 2px 3px;
  height: auto;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;
}
body .pCambios2 {
  background-color: rgba(172, 190, 252, 0.377);
  width: auto;
  box-shadow: black 2px 2px 3px;
  height: auto;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;
  justify-content: center;
  margin: 3rem;
}
body .secCambios {
  background-image: url(../src/multimedia/Images/otros/telacolores.jpg);
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
body .imgEjemploCar {
  width: 100%;
  padding: 4rem;
  border: 2px solid black;
}
body .carousel-control-prev-icon, body .carousel-control-next-icon {
  background-color: black;
}
body .gridPantalones {
  margin: 2rem;
  gap: 3rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr 1fr));
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
body .gridPantalones .figurePrenda {
  background-color: greenyellow;
  width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
body .gridPantalones .figurePrenda .nueva {
  width: 100%;
  height: 20rem;
  display: block;
  overflow: hidden;
  margin-bottom: 5px;
}
body .gridPantalones .figurePrenda .nueva .aPrenda {
  height: 100%;
  width: 100%;
}
body .gridPantalones .figurePrenda .nueva .imagenPrenda {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
}
body .gridPantalones .figurePrenda .nueva .imagenPrenda:hover {
  transform: scale(1.2);
}
body .gridPantalones .figurePrenda .aPrecio {
  padding: 5px 1rem;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  background-color: #dfd499;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  height: 100%;
  width: 200px;
  border-radius: 20%;
  transition: all 0.5s ease;
}
body .gridPantalones .figurePrenda .aPrecio:hover {
  background-color: rgba(1, 112, 240, 0.616);
}
body .gridPantalones .figurePrenda .bPrecio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  height: 100%;
  width: 200px;
  transition: all 0.5s ease;
}
body .gridPantalones .figurePrenda .bPrecio:hover {
  text-shadow: 2px 2px 2px #aa9831;
}

@media screen and (max-width: 480px) {
  .h2Rojo {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .mainIndex {
    background-color: black;
  }

  .h2Titulo {
    font-size: 1.5rem;
    background-color: #ebd07b;
  }

  .gridIndex1 {
    background-color: #59fa74;
    margin: 0rem;
  }

  .gridIndex2 {
    background-color: #5969fa;
    margin: 0rem;
  }
}

/*# sourceMappingURL=style.css.map */
