/*----extenciones---*/
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:wght@300;400&display=swap");
body .mainIndex .container-fluid .row .divIndex2d .vestidoInicio .vestidoInicioImg, body .mainIndex .container-fluid .row .divIndex2c .accesorioInicio .accesorioInicioImg, body .mainIndex .container-fluid .row .divIndex2a .pantalonInicio .pantalonInicioImg, body .mainIndex .container-fluid .row .divIndex .remeraInicio .remeraInicioImg {
  height: 30rem;
  width: 100%;
  display: block;
}

.top-header {
  height: 6rem;
}
.top-header .navbar {
  padding: 0rem;
  height: 6rem;
}
.top-header .navbar .container-fluid .navbar-brand img {
  transition: all 0.5s;
}
.top-header .navbar .container-fluid .navbar-brand img:hover {
  transform: scale(1.5);
}
.top-header .navbar .container-fluid .titulo h1 {
  font-size: 5rem;
  color: white;
  font-family: "Road Rage", cursive;
  transition: all 0.5s ease;
}
.top-header .navbar .container-fluid .titulo h1:hover {
  color: #ff8f07;
}

/*----Variables----*/
/*-------Colores----------*/
footer {
  height: 230px;
  width: 100%;
  background-image: url("../src/multimedia/Images/otros/tela.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
footer .navFooter {
  background-color: gray;
  padding: 10px;
  height: 200px;
  width: 300px;
}
footer .navFooter .ulFooter {
  background-color: gray;
  list-style: none;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}
footer .navFooter .ulFooter li a {
  color: black;
  font-size: 20px;
}
footer .navFooter .ulFooter li a:hover {
  color: burlywood;
}
footer .sectionNews {
  background-color: gray;
  padding: 10px;
  height: 200px;
  width: 300px;
}
footer .sectionNews #newsletter {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
footer .sectionNews .h4Footer {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
}
footer .mediosPago {
  background-color: gray;
  padding: 10px;
  height: 200px;
  width: 300px;
}
footer .mediosPago .h5Footer {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: black;
}

/*----Variables----*/
/*-------Colores----------*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  /*----grid de prendas Accesorios---*/
  /*------estilos pagina Contacto-----*/
  /*--------estilos generales------*/
  /**---------------grid pantalones(GENERAL)?-------------*/
}
body .mainIndex {
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  /*-------grid para remeras y pantalones (index)*/
  /*-------grid para accesorios y vestidos (index)-----------*/
}
body .mainIndex .gridIndex1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 3rem;
}
body .mainIndex .gridIndex1 .divIndexGn {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 20%;
  padding: 0rem;
}
body .mainIndex .gridIndex1 .divIndexGn div {
  height: 400px;
  overflow: hidden;
}
body .mainIndex .gridIndex1 .divIndexGn div .imgNueva {
  height: 400px;
  width: 100%;
  transition: all 0.2s;
}
body .mainIndex .gridIndex1 .divIndexGn div .imgNueva:hover {
  transform: scale(1.1);
}
body .mainIndex .gridIndex1 .divIndexGn div .aEspecial {
  color: black;
  font-family: "Road Rage", cursive;
  font-size: 5rem;
}
body .mainIndex .gridIndex1 .divIndexGn div {
  color: black;
  display: block;
  width: 100%;
  background-color: #b0dd48;
}
body .mainIndex .gridIndex1 .divIndexGn div .aEspecial {
  font-family: "Road Rage", cursive;
  font-size: 5rem;
}
body .mainIndex .gridIndex2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 3rem;
}
body .mainIndex .gridIndex2 .divIndexGn {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 20%;
  padding: 0rem;
}
body .mainIndex .gridIndex2 .divIndexGn div {
  height: 400px;
  overflow: hidden;
}
body .mainIndex .gridIndex2 .divIndexGn div .imgNueva {
  height: 400px;
  width: 100%;
  transition: all 0.2s;
}
body .mainIndex .gridIndex2 .divIndexGn div .imgNueva:hover {
  transform: scale(1.1);
}
body .mainIndex .gridIndex2 .divIndexGn div .aEspecial {
  color: black;
  font-family: "Road Rage", cursive;
  font-size: 5rem;
}
body .mainIndex .gridIndex2 .divIndexGn div {
  color: black;
  display: block;
  width: 100%;
  background-color: #dad74e;
}
body .mainIndex .gridIndex2 .divIndexGn div .aEspecial {
  font-family: "Road Rage", cursive;
  font-size: 5rem;
}
body .mainIndex .container-fluid .row .divIndex {
  transition: all 0.5s ease;
  height: 30rem;
  overflow: hidden;
}
body .mainIndex .container-fluid .row .divIndex .aRemerasInicio {
  font-family: "Road Rage", cursive;
  font-size: 5rem;
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: -18rem;
  transition: all 0.5s ease;
}
body .mainIndex .container-fluid .row .divIndex .aRemerasInicio:hover {
  transform: scale(1.1);
  color: #8400ff;
}
body .mainIndex .container-fluid .row .divIndex:hover {
  transform: scale(1.01);
}
body .mainIndex .container-fluid .row .divIndex2a {
  transition: all 0.5s ease;
  height: 30rem;
}
body .mainIndex .container-fluid .row .divIndex2a .pantalonInicio .pantalonInicioImg {
  border: 1px solid black;
  /*----extenciones en las todas las imagenes---*/
}
body .mainIndex .container-fluid .row .divIndex2a .aPantalonInicio {
  font-family: "Road Rage", cursive;
  font-size: 5rem;
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: -18rem;
  transition: all 0.5s ease;
}
body .mainIndex .container-fluid .row .divIndex2a .aPantalonInicio:hover {
  transform: scale(1.1);
  color: #ff5000;
}
body .mainIndex .container-fluid .row .divIndex2a:hover {
  transform: scale(1.01);
}
body .mainIndex .container-fluid {
  margin-top: 6rem;
  margin-bottom: 3rem;
}
body .mainIndex .container-fluid .row .divIndex2c {
  transition: all 0.5s ease;
  height: 40rem;
}
body .mainIndex .container-fluid .row .divIndex2c .aAccesorioInicio {
  font-family: "Road Rage", cursive;
  font-size: 5rem;
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: -25rem;
  transition: all 0.5s ease;
}
body .mainIndex .container-fluid .row .divIndex2c .aAccesorioInicio:hover {
  transform: scale(1.1);
  color: white;
}
body .mainIndex .container-fluid .row .divIndex2c:hover {
  transform: scale(1.01);
}
body .mainIndex .container-fluid .row .divIndex2d {
  transition: all 0.5s ease;
  height: 40rem;
}
body .mainIndex .container-fluid .row .divIndex2d .aVestidoInicio {
  font-family: "Road Rage", cursive;
  font-size: 5rem;
  /*-elemento lista--*/
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: -25rem;
  transition: all 0.5s ease;
}
body .mainIndex .container-fluid .row .divIndex2d .aVestidoInicio:hover {
  transform: scale(1.1);
  color: #00ff0d;
}
body .mainIndex .container-fluid .row .divIndex2d:hover {
  transform: scale(1.01);
}
body .mainGridGeneral {
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-color: #e9e6e6;
  text-align: center;
  align-items: center;
  justify-content: center;
}
body .mainGridGeneral .container-fluid .row .divAcc {
  background-color: #e9e6e6;
  transition: all 0.1s ease;
  height: 20rem;
  width: 25rem;
  margin: 1rem;
}
body .mainGridGeneral .container-fluid .row .divAcc:hover {
  transform: scale(1.02);
}
body .mainGridGeneral .container-fluid .row .divAcc .accesorioEnlace .accesorioInicioImg {
  height: 92%;
  width: 92%;
  display: block;
}
body .mainGridGeneral .container-fluid .row .divAcc .Precio .aAccesorioInicio {
  background-color: #3cd4d4;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
  display: block;
  width: 92%;
  text-align: center;
  transition: all 0.5s ease;
}
body .mainGridGeneral .container-fluid .row .divAcc .Precio .aAccesorioInicio:hover {
  color: gold;
}
body .mainIndex .sectionContacto {
  margin-top: 4rem;
  margin-bottom: 10rem;
  display: flex;
  background-image: url(../src/multimedia/Images/otros/fondo-contacto.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  justify-content: space-between;
  margin-bottom: 100px;
}
body .mainIndex .sectionContacto .secMail {
  border-radius: 15%;
  height: 12rem;
  width: 18rem;
  /*background-color: nth($colores, 4);*/
  background-color: rgba(124, 160, 238, 0.664);
}
body .mainIndex .sectionContacto .secMail svg {
  color: brown;
}
body .mainIndex .sectionContacto .prMail {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
body .mainIndex .sectionContacto .secWhat {
  border-radius: 15%;
  height: 12rem;
  width: 18rem;
  background-color: rgba(124, 160, 238, 0.664);
}
body .mainIndex .sectionContacto .secWhat svg {
  color: #0a860a;
}
body .mainIndex .sectionContacto .secWhat .prCelular {
  font-size: 1.3rem;
}
body .mainIndex .sectionContacto .secIcon {
  border-radius: 15%;
  height: 12rem;
  width: 18rem;
  background-color: rgba(124, 160, 238, 0.664);
}
body .mainIndex .sectionContacto .secIcon .prRedes {
  font-size: 1.3rem;
}
body .mainIndex .sectionContacto .secIcon div a {
  padding: 1rem;
}
body .mainIndex .sectionContacto .secIcon div a .contactoFacebook {
  color: blue;
}
body .mainIndex .sectionContacto .secIcon div a .contactoInstagram {
  color: blueviolet;
}
body h2 {
  font-family: "Roboto", sans-serif;
  color: black;
  margin-top: 2rem;
  font-size: 3rem;
  margin-bottom: 3rem;
}
body h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2rem;
}
body p {
  font-family: "Roboto", sans-serif;
  color: black;
  /*align-items: center;
  justify-content: center; 
  display: inline-block;*/
}
body a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body .h2Rojo {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  /*-- elemento lista--*/
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  /*-- elemento lista--*/
  color: red;
  border: 1rem inset #8f8b8b;
}
body .gridPantalones {
  margin: 2rem;
  gap: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
body .gridPantalones .figurePrenda {
  width: 22rem;
  height: 22rem;
}
body .gridPantalones .figurePrenda .nueva {
  width: 22rem;
  height: 20rem;
  display: block;
  overflow: hidden;
  margin-bottom: 5px;
}
body .gridPantalones .figurePrenda .nueva .aPrenda {
  height: 20rem;
  width: 22rem;
}
body .gridPantalones .figurePrenda .nueva .imagenPrenda {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
}
body .gridPantalones .figurePrenda .nueva .imagenPrenda:hover {
  transform: scale(1.2);
}
body .gridPantalones .figurePrenda .aPrecio {
  padding: 5px 1rem;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  background-color: #dfd499;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  height: 100%;
  width: 200px;
  border-radius: 20%;
  transition: all 0.5s ease;
}
body .gridPantalones .figurePrenda .aPrecio:hover {
  background-color: #e7d04f;
}
body .gridPantalones .figurePrenda .bPrecio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  height: 100%;
  width: 200px;
  transition: all 0.5s ease;
}
body .gridPantalones .figurePrenda .bPrecio:hover {
  text-shadow: 2px 2px 2px #aa9831;
}

/*# sourceMappingURL=style.css.map */
