@import "components/mixins";
@import "components/extends";
@import "base/header";
@import "base/footer";
@import "components/variables";
@import "components/listas";
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:wght@300;400&display=swap');

*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;  
}

body{
    background-color: whitesmoke;
      
    /*---------seccion prueba Grid index nuevo--------*/    
    .mainIndex{ 
        background-color: whitesmoke;
        text-align: center;
        align-items: center;
        justify-content: center;
        
        .gridIndex1{ 
            text-align: center;
            align-items: center;           
            justify-content: center;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;           
            margin: 1rem;            

            .mainPrueba{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem;                                                  
    
                .post{
                    height: auto;
                    width: 100%;
                    position: relative;
                   /* animate: bounceInLeft;*/
                    animation-duration: 2s;
                    img{
                        width: 100%;
                        height: 100%;                    
                    }                
                    .flash{
                        width: 100%;
                        height: 0%;
                        background-color: rgba(42, 113, 255, 0.308);
                        position: absolute;
                        top: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        border: 0px solid white;
                        transition: all 0.3s ease;                   
                        color: black;
                        font-family: 'Road Rage', cursive;
                        font-size: 5rem; 
                    }
                    &:hover .flash{
                        height: 100%;
                        width: 100%;                    
                    }        
                }
            }          
        }
        
        .gridIndex2{            
            display: grid;        
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));            
            margin: 1rem;

            .mainPrueba2{                
                align-items: center;
                justify-content: center;
                margin: 1rem;                                                    
    
                .post{
                    height: auto;
                    width: 100%;
                    position: relative;
                   /* animate: bounceInLeft;*/
                    animation-duration: 1s;
                    img{
                        width: 100%;
                        height: 100%;                    
                    }                
                    .flash{
                        width: 0%;
                        height: 100%;
                        background-color: rgba(54, 250, 113, 0.308);
                        position: absolute;
                        top: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        border: 0px solid white;
                        transition: all 0.2s ease-out;                   
                        color: black;
                        font-family: 'Road Rage', cursive;
                        font-size: 5rem; 
                    }
                    &:hover .flash{                   
                        height: 100%;
                        width: 100%;                    
                    }        
                }
            }                      
        }    
    }    

    /*------Estilos pagina Contacto (unicamente)-----*/
    .mainIndex{
        
        .sectionContacto{
            height: auto;    
            width: 100%; 
            background-image: url('../src/multimedia/Images/otros/fondo-contacto.jpg');
            background-attachment: fixed;
            background-size: cover;
            display: grid;        
            grid-template-rows: 1fr ;
            grid-template-columns: 1fr;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            gap: 1rem;
            margin-top: 3rem;
            margin-bottom: 5rem;
            padding: 3rem;    
            text-align: center;
            align-items: center;
            justify-content: space-around; 
               
            .secMail{  
                border-radius: 15%;
                height: 200px;
                width: auto;
                background-color: rgba(124, 160, 238, 0.664);
                svg{
                    color: brown;
                }

                .prMail{
                    background-color: rgba(124, 160, 238, 0);
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;
                }  
            }          
            
            .secWhat{
                border-radius: 15%;
                height: 200px;
                width: auto; 
                background-color: rgba(124, 160, 238, 0.664);

                svg{
                    color: rgb(10, 134, 10);
                }

                .prCelular{
                    background-color: rgba(124, 160, 238, 0);
                    font-size: 1.3rem;
                }
            }
                
            .secIcon{
                border-radius: 15%;                            
                height: 200px;
                width: auto; 
                background-color: rgba(124, 160, 238, 0.664);
                     
                .prRedes{
                    background-color: rgba(124, 160, 238, 0);
                    font-size: 1.3rem;
                }
                    
                div{
                    a{
                        padding: 1rem;
                        .contactoFacebook{
                            color: blue;
                        }
                        
                        .contactoInstagram{
                            color: blueviolet;
                        }
                    }
                } 
            }                        
        }        
    } 
   
    /*--------Estilos Generales------*/
    
    h2{
        font-family: 'Roboto', sans-serif;
        color: black;
        margin-top: 2rem;
        font-size: 2rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid goldenrod;
        display: inline-block;
    }   

    h3{
        font-family: 'Roboto', sans-serif;
        color: black;
        font-size: 2rem;
    }

    .carousel-caption{         
        h5{            
            width: 60%;
            display: inline-block;           
            font-family: 'Roboto', sans-serif;
            color: rgb(250, 71, 0);
            font-size: 2rem;
            padding: 1rem;
            font-weight: 600;
            background-color: rgba(0, 0, 255, 0.6);
            box-shadow: black 2px 2px 2px ;
        }
    }
   
    p{        
        background-color: rgb(250, 232, 129);
        font-size: 1rem;
        margin: 1rem;
        font-family: 'Roboto', sans-serif;
        color: black; 
        text-align: justify;       
    }

    .pCarusel{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        width: 60%;
        display: inline-block; 
        background-color: rgba(172, 255, 47, 0.6);
        padding: 1rem;
        font-size: 1rem;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 3px 3px;
    }

    a{ 
        font-size: 1rem;       
        font-family: 'Roboto', sans-serif;      
        text-decoration: none;    
    }
   
    .h2Rojo{      
        background-color: rgb(250, 232, 129);        
        display: inline-block;
        margin-top: 1rem;
        /*-- elemento lista--*/
        padding: nth($pading, 1);
        font-family: 'Roboto', sans-serif;
        text-align: center;
         /*-- elemento lista--*/
        color: nth($colores, 5);
        border: .5rem inset rgb(126, 125, 125);
       /* animation: pulse;*/
        animation-duration: 2s;
    }

    .secMapa{
        background-color: rgb(199, 199, 199);
        margin: 0rem; 
        padding: 1rem;
        justify-content: center;             
    }

    .mapa{
        width: 80%;
        height: 15rem;       
    }
    .parrafoDonde{
        background-color: rgb(255, 255, 255);
        display: inline-block;
        width: 80%;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border-bottom: 1px solid goldenrod;       
    }
    
    /*---imagen de ejemplo pagina Carrito----*/
    .imgEjemploCar{
        width: 100%;

    }
   
    /*-----le di este color para resaltar los botones del carousel----*/
    .carousel-control-prev-icon, .carousel-control-next-icon{
       background-color: rgb(0, 0, 0);
    }

    /**---------------GRID GENERAL TODAS LAS PRENDAS-------------*///

    .gridPantalones{ 
        margin: 2rem;  
        gap: 3rem;
        display: grid;        
        grid-template-rows: 1fr ;
        grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr 1fr ));
        grid-template-columns: 1fr 1fr 1fr;        
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));             
        
        .figurePrenda{ 
            background-color: greenyellow;
            width: 100%;
            height: auto;   
            text-align: center;
            align-items: center;
            justify-content: center;    
                       
            .nueva{
                width: 100%;
                height: 20rem;                
                display: block;
                overflow: hidden;                
                margin-bottom: 5px;               
               
                .aPrenda{
                    height: 100%;
                    width: 100%; 
                }
                
                .imagenPrenda{  
                    object-fit: cover;                  
                    height: 100%;
                    width: 100%;
                    transition: all 0.2s ease;

                    &:hover{
                       transform: scale(1.2);
                    }                    
                }                               
            }
            
            .aPrecio{
                padding: 5px 1rem;
                font-family: 'Roboto', sans-serif;
                border: 1px solid black;
                background-color: rgb(223, 212, 153); 
                font-weight: 500;
                color: black;
                text-transform: uppercase;
                height: 100%;
                width: 200px;
                border-radius: 20%;
                transition: all 0.5s ease;                

                &:hover{
                    background-color: rgba(1, 112, 240, 0.616);                                                
                }
            }

            .bPrecio{
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: black;
                text-transform: uppercase;
                height: 100%;
                width: 200px;
                transition: all 0.5s ease;
                
                &:hover{
                    text-shadow: 2px 2px 2px rgb(170, 152, 49);
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    
    .h2Rojo {                   
        font-size: 1.1rem;
        font-weight: 600;        
    }  

    .mainIndex{
        background-color: black;
    } 

    .h2Titulo{
        font-size: 1.5rem;
        background-color: rgb(235, 208, 123);
    } 
    
    .gridIndex1{
        background-color: rgb(89, 250, 116);
        margin: 0rem;
    }
    .gridIndex2{
        background-color: rgb(89, 105, 250);
        margin: 0rem;
    }
}
