@import "components/mixins";
@import "components/extends";
@import "base/header";
@import "base/footer";
@import "components/variables";
@import "components/listas";
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:wght@300;400&display=swap');

*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;  
}

body{
    background-color: rgb(255, 255, 255);
      
    /*------Estilos Grid Index(unicamente)-----*/
    .mainIndex{ 
        background-color: rgb(255, 255, 255);
        text-align: center;
        align-items: center;
        justify-content: center;


        .gridIndex1{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            gap: 1rem;
            margin: 3rem;
              
            .divIndexGn{
                height: 500px;
                width: 100%;                
                overflow: hidden;                
                border-radius: 20%;
                padding: 0rem;

                div{
                    height: 400px;                    
                    overflow: hidden;

                    .imgNueva{
                        height: 400px;
                        width: 100%;
                        transition: all 0.2s;                  

                        &:hover{
                        transform: scale(1.1);                       
                        }
                    }                    
                } 

                div{                                       
                    .aEspecial{                        
                        color: black;
                        font-family: 'Road Rage', cursive;
                        font-size: 5rem;                       
                    }
                }

                div{                   
                    color: black;                                
                    display: block;
                    width: 100%;               
                    background-color: rgb(176, 221, 72);
                } 
                
                div{
                     .aEspecial{
                       font-family: 'Road Rage', cursive;
                       font-size: 5rem;                      
                    }
                }              
            }           
        }
        
        .gridIndex2{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin: 3rem;
              
            .divIndexGn{
                height: 500px;
                width: 100%;                
                overflow: hidden;                
                border-radius: 20%;
                padding: 0rem;

                div{
                    height: 400px;                    
                    overflow: hidden;

                    .imgNueva{
                        height: 400px;
                        width: 100%;
                        transition: all 0.2s;                  

                        &:hover{
                        transform: scale(1.1);                       
                        }
                    }                    
                } 

                div{                                       
                    .aEspecial{                        
                        color: black;
                        font-family: 'Road Rage', cursive;
                        font-size: 5rem;                       
                    }
                }

                div{                   
                    color: black;                                
                    display: block;
                    width: 100%;               
                    background-color: rgb(218, 215, 78);
                } 
                
                div{
                     .aEspecial{
                       font-family: 'Road Rage', cursive;
                       font-size: 5rem;                      
                    }
                }              
            }           
        }    
    }

    /*------Estilos pagina Contacto (unicamente)-----*/
    .mainIndex{
        
        .sectionContacto{
            margin-top: 4rem;
            margin-bottom: 10rem;
            display: flex;
            background-image: url(../src/multimedia/Images/otros/fondo-contacto.jpg);
            background-size: cover;
            background-attachment: fixed;
            height: 300px;                
            justify-content: space-between;            
            margin-bottom: 100px; 
               
            .secMail{  
                border-radius: 15%;
                height: 12rem;
                width: 18rem;
                background-color: rgba(124, 160, 238, 0.664);
                svg{
                    color: brown;
                }
            }

            .prMail{                 
                font-family: 'Roboto', sans-serif;
                font-size: 1.3rem;
            }
            
            .secWhat{
                border-radius: 15%;
                height: 12rem;
                width: 18rem; 
                background-color: rgba(124, 160, 238, 0.664);

                svg{
                    color: rgb(10, 134, 10);
                }

                .prCelular{
                    font-size: 1.3rem;
                }
            }
                
            .secIcon{
                border-radius: 15%;                            
                height: 12rem;
                width: 18rem; 
                background-color: rgba(124, 160, 238, 0.664);
                     
                .prRedes{
                    font-size: 1.3rem;
                }
                    
                div{
                    a{
                        padding: 1rem;
                        .contactoFacebook{
                            color: blue;
                        }
                        
                        .contactoInstagram{
                            color: blueviolet;
                        }
                    }
                } 
            }                        
        }        
    }            
    
    /*--------Estilos Generales------*/
    
    h2{
        font-family: 'Roboto', sans-serif;
        color: black;
        margin-top: 2rem;
        font-size: 3rem;
        margin-bottom: 3rem;
    }   

    h3{
        font-family: 'Roboto', sans-serif;
        color: black;
        font-size: 2rem;
    }
   
    p{
        font-family: 'Roboto', sans-serif;
        color: black;
        /*align-items: center;
        justify-content: center; 
        display: inline-block;*/
    }

    a{  
        font-family: 'Roboto', sans-serif;      
        text-decoration: none;    
    }

    .h2Rojo{
        text-transform: uppercase;
        display: inline-block;
        margin-top: 20px;
        /*-- elemento lista--*/
        padding: nth($pading, 3);
        font-family: 'Roboto', sans-serif;
        text-align: center;
         /*-- elemento lista--*/
        color: nth($colores, 1);
        border: 1rem inset rgb(143, 139, 139);
    }

    .secMapa{
        background-color: rgb(199, 199, 199);
        margin: 0rem; 
        padding: 1rem;       
    }

    /**---------------GRID GENERAL TODAS LAS PRENDAS-------------*///

    .gridPantalones{ 
        margin: 2rem;  
        gap: 1rem;
        display: grid;        
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));        
        
        .figurePrenda{ 
            width: 22rem;
            height: 22rem;       
                       
            .nueva{
                width: 22rem;
                height: 20rem;                
                display: block;
                overflow: hidden;                
                margin-bottom: 5px;               
               
                .aPrenda{
                    height: 20rem;
                    width: 22rem; 
                }
                
                .imagenPrenda{  
                    object-fit: cover;                  
                    height: 100%;
                    width: 100%;
                    transition: all 0.2s ease;

                    &:hover{
                       transform: scale(1.2);
                    }                    
                }                               
            }
            
            .aPrecio{
                padding: 5px 1rem;
                font-family: 'Roboto', sans-serif;
                border: 1px solid black;
                background-color: rgb(223, 212, 153); 
                font-weight: 500;
                color: black;
                text-transform: uppercase;
                height: 100%;
                width: 200px;
                border-radius: 20%;
                transition: all 0.5s ease;                

                &:hover{
                    background-color: rgb(231, 208, 79);                                                
                }
            }

            .bPrecio{
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: black;
                text-transform: uppercase;
                height: 100%;
                width: 200px;
                transition: all 0.5s ease;
                
                &:hover{
                    text-shadow: 2px 2px 2px rgb(170, 152, 49);
                }
            }
        }
    }
}