@import "../components/variables";
@import "../components/listas";

footer{
    height: 230px;    
    width: 100%; 
    background-image: url('../src/multimedia/Images/otros/tela.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around; 

    .navFooter{
        background-color: $bg-color;
        padding: nth($pading, 1);
        height: 200px; 
        width: 300px;

        .ulFooter{
            background-color: $bg-color;
            list-style: none;
            text-align: justify; 
            font-family: 'Roboto', sans-serif; 
            li{
                a{
                    color: nth($colores, 5);
                    font-size: 20px;
                    &:hover{
                        color: burlywood;
                    }
                }
            }
        }      
    }

    .sectionNews{
        background-color: $bg-color;
        padding: nth($pading, 1); 
        height: 200px;
        width: 300px;

        #newsletter{
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
        }

        .h4Footer{
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: black;
        }
    }

    .mediosPago{
        background-color: $bg-color;
        padding: nth($pading, 1); 
        height: 200px; 
        width: 300px;

        .h5Footer{
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            color: black;            
        }
    }
}