@import "../components/variables";
@import "../components/listas";


footer{
    height: auto;    
    width: 100%; 
    background-image: url('../src/multimedia/Images/otros/tela.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: grid;        
    grid-template-rows: 1fr ;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    margin: 0rem;
    padding: 1rem;    
    text-align: center;
    align-items: center;
    justify-content: space-around; 

    .navFooter{
        background-color: rgba(128, 128, 128, 0.459);
        padding: nth($pading, 1);
        height: 200px; 
        width: auto;

        .ulFooter{
            
            list-style: none;
            text-align: justify; 
            font-family: 'Roboto', sans-serif; 
            li{
                a{
                    color: nth($colores, 5);
                    font-size: 20px;
                    &:hover{
                        color: burlywood;
                    }
                }
            }
        }      
    }

    .sectionNews{
        background-color: rgba(128, 128, 128, 0.459);
        padding: nth($pading, 1); 
        height: 200px;
        width: auto;

        #newsletter{
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
        }

        .h4Footer{
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: black;
        }
    }

    .mediosPago{
        background-color: rgba(128, 128, 128, 0.459);
        padding: nth($pading, 1); 
        height: 200px; 
        width: auto;

        .h5Footer{
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            color: black;            
        }
    }
}